.card-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1340px;
  margin-left: 3%;
  gap: 15px;
}
.headTitle{
  width: 400px;
  margin: 0 auto;
  background: #c8f482;
  padding: 0 10px;
  margin-bottom: 20px;
}
